.home {
    position: relative;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(/img/common-bg.svg);

    .social {
        position: absolute;
        top: 40%;
        left: 0%;
        transform: translate(0%, -50%);
        width: 65px;
        background-color: $header-clr;
        padding: 5px;

        button:hover {
            background-color: rgba($prime-clr, 0.3);
        }
    }

    .content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        text-align: center;

        h1 {
            font-size: 3em;
            text-transform: uppercase;
            margin: 0;
        }

        p {
            max-width: 700px;
        }
    }

    @include for-normal-layout {
        .content {
            h1 {
                font-size: 2.5em;
            }
        }

    }

    @include for-narrow-layout {
        height: 120vh;

        .social {
            display: none;
        }
    }

}