.projects {
    .prj-list {
        .prj {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 5rem;
            padding-block: 50px;



            .rsis-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 'center';
                width: min-content;
            }

            .rsis-container {
                div {
                    width: 50px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    transition: all;
                }
            }



            .prj-details {
                padding-block: 30px;


                .prj-name {
                    font-size: 2em;
                }

                .prim-btn {
                    font-size: 20px;
                    font-weight: 700;
                    padding: 15px 55px;
                }
            }


            @include for-normal-layout {
                grid-template-columns: 1fr;
                grid-template-rows: max-content max-content;
                gap: 0rem;
                padding-block: 30px;

                .prj-details {
                    gap: 15px;
                    text-align: center;
                    align-items: center;
                }
            }

            @include for-narrow-layout {
                .prj-details {
                    .btn-sec {
                        gap: 10px;

                    }
                }
            }
        }

    }


}