.skills {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../../../../src/assets/img/common-bg.svg);

    .skills-list {
        max-width: 1000px;
        align-self: center;
    }
}