// Colors
$main-clr : #FAFAFA;
$header-clr : #FFF;
$prime-clr : #FACF0F;

$txt-clr1 : #333;
$txt-clr2 : #000;
$txt-clr3 : #666;
$btn-txt-clr1 : #000;

// Breakpoints
$break-narrow: 500px;
$break-normal: 970px;
$break-wide: 1200px;